<div class="container">
  <div class="row">
    <div class="col">
      <h5>配送先編集</h5>
      <%= form_with model:@address, local:true do |f| %>
        <div class="form-group">
          <%= f.label :postal_code, '郵便番号'%>
          <%= f.text_field :postal_code,placeholder: '0000000' %>
        <div class="form-group">
          <%= f.label :address, '住所'%>
          <%= f.text_field :address,placeholder: '東京都渋谷区代々木神園町0-0' %>
        </div>
        <div class="form-group">
          <%= f.label :name, '宛名' %>
          <%= f.text_field :name,placeholder: '令和道子' %>
          <%= f.submit '変更内容を保存する' %>
        </div>
      <% end %>
    </div>
  </div>
</div>