<h5>新規会員登録</h5>

<%= form_with model: @customers, url: customer_registration_path, local: true do |f| %>
  <%= render "customers/shared/error_messages", resource: resource %>

   <div class="form-inline">
    <div class="form-group">
    　<lavel>名前</lavel>
    　<div class="ml-5 d-flex align-items-center justify-content-center" style="height:100px",;>
       <%= f.label :（名） %>
      <%= f.text_field :fist_name, autofocus: true, :placeholder =>"令和"%>
    </div>
    <div class="form-group">
     <div class="ml-2 d-flex align-items-center justify-content-center" style="height:100px",;>
     <%= f.label :（名） %>
     <%= f.text_field  :last_name, autofocus: true, :placeholder =>"道子" %>
      </div>
    </div>
   </div>
  </div>

      <div class="form-inline">
        <div class="form-group">
          　<lavel>フリガナ </lavel>
          <div class="ml-3 d-flex align-items-center justify-content-center" style="height:10x",;>
      <%= f.label :（セイ） %>
      <%= f.text_field :fist_name, autofocus: true, :placeholder =>"レイワ" %>
           </div>
          <div class="form-group">
        <div class="ml-2 d-flex align-items-center justify-content-center" style="height:10px",;>
     <%= f.label :（メイ） %>
     <%= f.text_field :last_name, autofocus: true, :placeholder =>"ミチコ" %>
           </div>
         </div>
       </div>
     </div>
  <div class="form-inline">
    <div class="form-group">

    <%= f.label :メールアドレス %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder =>"メールアドレス" %><br />
    </div>
  </div>
  <div class="form-inline">
    <div class="form-group">

    <%= f.label :郵便番号（ハイフンなし） %>
    <%= f.text_field :postal_code, autofocus: true, :placeholder =>"0000000" %><br />
    </div>
  </div>

  <div class="form-inline">
    <div class="form-group">

    <%= f.label :住所 %>
    <%= f.text_field :address, autofocus: true, :placeholder =>"東京都渋谷区代々木神園町0-0",:size=>"60" %><br />
    </div>
  </div>

   <div class="form-inline">
    <div class="form-group">

    <%= f.label :電話番号（ハイフンなし） %>
    <%= f.text_field :phon_number, autofocus: true, :placeholder =>"0000000000" %><br />
    </div>
  </div>

  <div class="field">
    <div class="form-inline">
     <div class="form-group">
    <%= f.label :パスワード（６文字以上） %>
    <% if @minimum_password_length %>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password" %>
    </div>
  </div>
   <div class="field">
    <div class="form-inline">
     <div class="form-group">
    <%= f.label :パスワード（確認用） %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
     </div>
    </div>
  </div>
  <p>
     <button {
       type="button" class="btn btn-success btn- col-3 mx-auto font-weight-bold"
        } >
       新規登録
     </button>
  </p>
<% end %>

<%= render "customers/shared/links" %>
