<div id="error_explanation">
<% if @customer.errors.any? %>
  <h3><%= @customer.errors.count %>error prohibited this obj from being saved:</h3>
  <% @customer.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>
</div>

<h5>
  <div class="font-weight-bold">
   会員情報編集
  </div>
</h5>

<div class= container >
   <div class="d-flex align-items-center justify-content-center" >
        <%= form_with model: @customer, url: customer_path, local: true do |f| %>
        <div class = "row">
             <div class = "col-4" >
                <%= f.label :氏名  %>
             </div>
             <div class = "col-4" >
                <%= f.text_field :fist_name, autofocus: true, class: "form-control" %>
             </div>
             <div class = "col-4" >
                <%= f.text_field  :last_name, autofocus: true, class: "form-control" %>
             </div>
        </div>
        
        <div class = "row">
             <div class = "col-4" >
                <%= f.label :フリガナ  %>
             </div>
             <div class = "col-4" >
                <%= f.text_field :fist_name_kana, autofocus: true, class: "form-control" %>
             </div>
             <div class = "col-4" >
                <%= f.text_field  :last_name_kana, autofocus: true, class: "form-control" %>
             </div>
        </div>
   
        <div class = "row">
             <div class = "col-4" >
                <%= f.label :郵便番号  %>
             </div>
             <div class = "col-4" >
                <%= f.text_field :postal_code, autofocus: true, class: "form-control" %>
             </div>
        </div>
        <div class = "row">
             <div class = "col-4" >
                <%= f.label :住所  %>
             </div>
             <div class = "col-4" >
                <%= f.text_field :postal_code, autofocus: true, class: "form-control" %>
             </div>
        </div>
        <div class = "row">
             <div class = "col-4" >
                <%= f.label :電話番号 %>
             </div>
             <div class = "col-4" >
                <%= f.text_field :phon_number, autofocus: true, class: "form-control" %>
             </div>
        </div>
        <div class = "row">
             <div class = "col-4" >
                <%= f.label :メールアドレス  %>
             </div>
             <div class = "col-4" >
                <%= f.text_field :email, autofocus: true, class: "form-control" %>
             </div>
        </div>


  <div class="form-inline">
    <div class="form-group" style="height:80px">
      <div class="actns" >
    <%= f.submit "編集内容を保存", class: "ml-2 btn px-5  btn-success font-weight-bold" %>
      </div>
    <% end %>

   <div class="form-inline">
     <div class="form-group">
       <div class="actns">
    <%= link_to "退会する"," /customers/#{@customer.id}/quit", class: "ml-2 btn px-5  btn-danger font-weight-bold" %>
      </div>
    </div>
  </div>
</div>
