<div class= "row">
  <div class="col-xs-4 col-xs-offset-2">
    <%= attachment_image_tag item, :image_id, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
  </div>

  <div class="col-xs-6">
    <h2><%= @item.name %></h2>
  </div>

  <div class="field">
    <%= @item.description %>
  </div>

  <div>
    <h3>¥ <%= item.price.to_s(:delimited) %>(税込み)</h3>
  </div>

  <div class="field">
    <% if @item.is_sale == true %>
      <% if @item.genre.is_valid == true %>
        <%= form_with model:@cart_item , url: customer_cart_items_path, method: :post) do |f| %>
        <%= f.hidden_field :item_id, value: @item.id %>
        <%= f.select :amount, *[1..3] %>
        <%= f.submit "カートに入れる" %>
        <% end %>
      <% else %>
        <h3>売り切れ中</h3>
        <% end %>
      <% elsif @item.sale == false %>
        <h3>売り切れ中</h3>
      <% end %>
  </div>
</div>