<td class="text-left">
  <%= attachment_image_tag( cart_item.item, :image, size: "55x43") %>
  <%= cart_item.item.name %>
</td>
<td class="text-right">
   ¥<%= cart_item.item.with_tax_price%>
</td>
<td>
  <%= form_with model:cart_item, url: cart_item_path(cart_item.id), method: :patch , remote: true do |f| %>
    <%= f.number_field :amount, class: "amount", size: 10, min: 1, id: "amount_cart" %>
    <%= f.submit "変更", class: "btn btn-info" %>
  <% end %>
</td>
<td class="text-right" id='sub_price-<%= cart_item.id %>'>
   ¥<%= cart_item.subtotal%>
</td>
<td>
  <%= link_to " 削除する", cart_item_path(cart_item.id), method: :delete, class: "glyphicon glyphicon-trash btn btn-danger" %>
</td>