<div class="container">
	<h2 class="head-line text-center">ショッピングカート</h2>
	<div class="row">
		<div class="text-right">
			<%= link_to  "カートを空にする", destroy_all_cart_items_path, method: :delete, class: "btn btn-danger" %>
		</div><br>

		<table class="table">
			<thead>
				<tr>
					<th>商品名</th>
					<th>単価(税込)</th>
					<th>数量</th>
					<th>小計</th>
					<th></th>
				</tr>
			</thead>

			<tbody>
				<% @cart_items.each do |cart_item| %>
  			  <tr id="cart-<%= cart_item.id %>">
            <%= render "amount_form", cart_item: cart_item %>
          </tr>
          <% end %>
			</tbody>
		</table>
		<div class="col-xs-9 margin-bottom">
      <div class ="action">
        <%= link_to " 買い物を続ける", items_path, class: "glyphicon glyphicon-shopping-cart btn btn-info" %>
      </div>
    </div>

    <div class="col-xs-3 pull-right billing">
      <table class="table table-bordered text-right">
        <thead>
          <tr>
            <td class="warning">合計金額</td>
            <td class="text-right">
              ¥<%#= amount(@cart_items).to_s(:delimited) %>
              <%= (@total_price * 1.1).floor	%>
            </td>
          </tr>
        </thead>
      </table>
    </div>
		</div>
	</div>
	<div class="row">
			<div class="text-center">
			<%= link_to "情報入力へ進む", new_order_path,	class: "btn btn-success btn-lg active" %>
		</div>
	</div>
</div>